:root {
    --background: black;
    --foreground: white;
}


#tape{
    display : grid;
    width : 950px;   /* 19 * 50 */
    grid-auto-columns: 50px;
    grid-auto-flow : column;

    /*border-right : 2px solid black;*/
    margin-left : auto;
    margin-right: auto;

    border-color: var(--foreground);
    color: var(--foreground);

    justify-content: center;
    align-items: center; 

    background: linear-gradient(
        to bottom,
        rgba(20,20,20,90),
        black
    );
    background-size: 100% .3rem; 
}


#cursor{
    margin-top: 0px;
}


#main_input{
    resize : none;
    overflow-x: hidden;
    font: 1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    color: var(--foreground);
    background-color: var(--background);

    background: linear-gradient(
        to bottom,
        rgba(20,20,20,90),
        black
    );
    background-size: 100% .3rem;
}


#main_input::selection {
    background: white;
    text-shadow: none;
}


.cell{
    height : 50px;

    border-color: var(--foreground);
    font: 1rem Inconsolata, monospace;
    overflow: hidden;
    text-shadow: 0 0 5px #C8C8C8;

    border-style: dashed dashed dashed dashed;

    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

}

.content{
    max-width 500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}   

body {
    background-color: black;
}

p{
        color : var(--foreground);

}
